.grid-square {
    width: 16vh;
    height: 16vh;
}

.grid-square:hover {
    background-color: #ced4da;
}

.grid-square:active {
    background-color: #adb5bd;
}

.player-span:hover {
    cursor: pointer;
    background-color: #ced4da;
}

@media (max-width: 600px) {
    .grid-square {
        height: 10vh;
        width: 10vh;
    }
}